server:
  port: 8082

spring:
  data:
    mongodb:
      uri: mongodb://mongo:27017/activity-tracker
  jackson:
    serialization:
      write-dates-as-timestamps: false

logging:
  level:
    root: INFO
